<div class="character-add-container">
  <form [formGroup]="characterForm()" (ngSubmit)="onSubmit()">
    <app-custom-input label="Name:" [control]="$any(characterForm().get('name'))" placeholder="Enter Character Name"
      type="text" errorMessage="Name is REQUIRED"></app-custom-input>

    <app-custom-input label="Image:" [control]="$any(characterForm().get('image'))" placeholder="Enter Character Image"
      type="text" errorMessage="Image is REQUIRED"></app-custom-input>

    <div class="button-container">
      <button type="submit">Edit</button>
    </div>
  </form>
</div>